.my-card{
    box-shadow: var(--shadow);
    min-width: 350px;
    border-radius: 0.5rem;
    margin: 2rem;
    flex: 1;
}
.my-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem auto;
    font-family: "Montserrat",sans-serif !important;
    flex-wrap: wrap;
    gap: 5px;

}
.ant-card-head-title{
    margin: 0;
    font-weight: 500;
}
.my-card p {
    margin: 0;
}
